<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% stylesheets filter="cssrewrite"
            '@AppBundle/public/css/style1.css'
            '@AppBundle/public/css/style2.css'
            %}
            <link rel="stylesheet" href="{{asset_url}}"/>
        {%endstylesheets%}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
