body {
    padding-top: 50px;
}
.starter-template {
    /*padding: 40px 15px;*/
}

article{
    border-radius: 4px 4px 0 0;
    border: 1px #ddd;
    box-shadow: none;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

#grid .rating{
    display: inline;
}
#grid .rating div.star-full::before {
    padding: 0;
}
#grid .rating div.star-empty::before {
    padding: 0;
}